# Python / Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv/
__pycache__/
*.py[cod]
*$py.class

# Databases & Local Runtime States
*.db
*.sqlite
*.sqlite3
04-WebApp/users.db
04-WebApp/static/js/db/*.txt
04-WebApp/static/js/db/*.csv

# Web App Uploads & Temp files
04-WebApp/static/uploads/*
!04-WebApp/static/uploads/.gitkeep

# IDE and Editor settings
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Wheel files and temporary build artifacts
*.whl
*.egg-info/
dist/
build/
